@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply flex min-h-screen flex-col items-center bg-background text-foreground selection:bg-sky-500/80 selection:text-white;
	}
}
