@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply min-h-screen flex flex-col items-center bg-background text-foreground selection:bg-sky-500/80 selection:text-white;
  }
}
